<div class='profile-field {{#if error}} profile-field_error {{/if}} {{className}}'>
    <label for="{{name}}" class='profile-field__label'>{{label}}</label>
    <div className="profile-field__wrapper">
        <input id='{{id}}' type='{{type}}' name='{{name}}' value="{{value}}" class='profile-field__input'/>
        {{#if error}}
            <span class='profile-field__error'>{{error}}<span>
        {{/if}}
    </div>
</div>