<main class='main error-page'>
	<h1 class="error-page__title">{{title}}</h1>
	<p class="error-page__description">{{description}}</p>
	<a id="{{link.id}}"className="{{link.className}}" href="{{link.href}}">{{link.text}}</a>
</main>
{{> Navbar }}
